@import url(http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

body
{
	margin: 0px;
	font-family: Latin, latin-ext, Lato;
}

h1{
	text-align: center;
}

.menuImg
{
	width:50px;
	height:30px;
	float: left;
	padding: 5px 5px 10px 15px;
}

.title
{
	color: white;
	font-size: 25px;
	padding: 7px 0px 7px 80px;
	text-align: left;
}

.menu
{
	background-color: #699CFC;
	margin: 0%;
}

.side
{
	background-color: #9FC5F8;
	position: fixed;
	width: 250px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

h3
{
	margin: 0;
	font-weight: 300;
}

a
{
	display: block;
	color: #fff;
	font-weight: 300;
	/*border-bottom: 1px solid #258ecd;*/
	padding: 1em;
	text-decoration: none;
	margin-top: 5%;
	font-size: 17px;
	text-align: left;
}

a:hover
{
	background: #258ecd;
}

a:active
{
	background: #afdefa;
}

#toLeft
{
	left: -250px;
}

div.logoimg{
  width: 50px;
  height: 30px;
}

#links{
  background: #fff;
}

#links a{
  color: black;
  padding: 0px;
}

#links img{
  padding-right: 15px;
  margin-top: 0px;
  padding: 5px;
}


.subtitle{
	font-weight: bolder;
	font-size: 60px;
	margin-top: 60px;
	margin-bottom: 15px;
	display:block;
	text-align: center;
	
}

ol{
	font-size: 30px;
	margin: 0px 5% 0px 10%;
	padding: 30px;
}
/*New code*/
.btn{
	margin-right: 0px;
	margin-left: 0px;
	height: 25%;
	display: inline;
}

.btn #left{
	float: left;
}

.btn #right{
	float: right;
}

.buttons{
	display: block;
    bottom:0px;
}

