<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "1" 
        version     = "1.0.0" >

    <name>Phonyc Frenzy</name>


    <author href="" email="">
        author name
    </author>

    <preference name="permissions" value="none"/>
	
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />

	<icon src="icon.png" />
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
	
    <feature name="http://api.phonegap.com/1.0/notification"/>
	
	
	<feature name="Calendar">
		<param name="android-package" value="nl.xservices.plugins.Calendar" />
	</feature>
	
	<feature name="Geolocation">
		<param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
	</feature>
	
	<feature name="Notification">
		<param name="android-package" value="org.apache.cordova.dialogs.Notification" />
	</feature>
	
	<feature name="Vibration">
		<param name="android-package" value="org.apache.cordova.vibration.Vibration" />
	</feature>
	
</widget>
